body {
    margin: 0 auto;
    padding: 0 auto;
    background-color: lightgray;
}

}
table {
    width: 100%;
    margin-left: 10px;
    border: 2px solid; 
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
  background-color: snow; 
}

th {
   border: 2px solid;
   width: 20%;
   height: 60px;
   font-size: 25px;
   background-color: lightblue;

}
th:hover{
    background-color: darkcyan;
          transition: all 0.8s ease;

}

td {
    border-bottom: 2px solid;
    border-right: 2px solid;
    height: 60px;
    font-size: 25px;
}
td:hover {
    color: darkslategray;
    background-color: lightcyan;
    cursor: cell;
  
      transition: all 0.8s ease;

}
button {
    background-color: cyan; 
  
    width: 7%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;

}
button:hover {
    background-color: lightgreen;
    transition: all 0.8s ease;
}

.toolbar>a{
    text-decoration: none;  
    background-color: cyan; 
  
    
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;

}
input[type=text], select {
    width: 100%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #bfff80
;
}

li {
    float: left;
    margin: px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #45a049;
          transition: all 0.9s ease;

}

.active {
  
    background-color: #4CAF50;
}
 img {
    width: 45px;
    height: 45px;
}